@import "../Variables";

.header {
	position: absolute;
	top: 3em;
	width: 100%;
	z-index: 5;
	
	
	nav {
		padding: 0 20%;
		width: 100%;
		height: 4em;
		// background: cyan;
		display: grid;
		grid-template-columns: auto auto;
		justify-content: space-between;
		align-items: center;

		.logo {
			span.fa-camera-movie {
				font-size: 3em;
				color: $red;
			}
			h1 {
				display: inline-block;
				color: $white;
				margin-left: 1em;
				text-shadow: 2px 2px 4px $gray;

				span {
					color: $red;
				}
			}
		}

		.nav-list {
			display: flex;


			.nav-link {
				list-style: none;
				margin-left: 1em;
				padding: 0.5em 1em;
				color: $white;
				font-size: 14px;
				cursor: pointer;
				transition: $easeio;

				&.active {
					background: $purple;
					border-radius: 100px;
					
				}

				&:not(.active):hover {
					background: $light-purple;
					border-radius: 100px;

				}
				
			}
		}

	}
    
}
